Bonjour {{ first_name }},

Je me permets de revenir vers vous suite à mon précédent message. Je reste disponible si vous avez des besoins en ce moment ou à venir.

N'hésitez pas à me contacter si l'occasion se présente !

Cordialement,
{{ user_first_name }}
